body {
    font-family: Lato;
    margin: 0;
    background-color: #ecf0f1;
}

input, select {
    vertical-align: middle;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: "top top" "menu main";
}

.top {
    grid-area: top;
    background-color: #b20000;
    border-bottom: 5px solid #999;
}

.top h1{
    color: #fff;
    padding-left: 20px
}

.menu {
    grid-area: menu;
}

.menu ul {
    padding: 0;
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px
}

.menu li {
    list-style: none;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px dotted #7f8c8d;
}

.menu li:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
}


.main {
    grid-area: main;
    margin: 10px;
    margin-left: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px
}

.main table {
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: .5em;
    box-sizing: content-box;
}

.main th, .main td {
    padding: .5em;
}

.main th {
    background-color: #2c3e50;
    color: #fff;
}

.main tr:nth-child(even) {
    background-color: #b2bec3;
}

.main tr:nth-child(odd) {
    background-color: #dfe6e9;
}

.main input[name=hours], .main input[name=minutes], .main input[name=seconds] {
    width: 3em;
    text-align: center;
}

.main h4 {
    text-decoration: underline;
}

.main #players, .main #games {
    display: flex;
    flex-wrap: wrap;
}

.main textarea {
    width: 100%;
    height: 15em;
}

.main div > div {
    padding: 10px;
}

.main p.flash {
    margin: 0 .5em;
    padding: 12px 20px;
    border-radius: 10px;
}

.main p.good {
    color: #155724;
    background-color: #d4edda;
}

.main p.good:before {
    content: "️✔️ ";

}

.main p.bad {
    color: #721c24;
    background-color: #f8d7da;
}

.main p.bad:before {
    content: "️❌  ";
}

