<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Achados e Perdidos</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    
    <!-- Serializando em JSON para enviar ao JS -->
    <script>
      const objetosJSON = {{ objetos_perdidos|tojson }};
      const categoriasJSON = {{ categorias|tojson }};
    </script>

    <div class="container py-4">
      <!-- Cabeçalho -->
      <header class="mb-4 pb-3 border-bottom d-flex justify-content-between align-items-center">
        <div>
          <h1 class="fs-3 text-primary">Achados e Perdidos - Objetos</h1>
          <p class="text-muted">Encontre aqui os itens registrados pela equipe responsável.</p>
        </div>
        {% if sessao.is_authenticated %} 
          <p>{% if sessao.administrador %}<span class="text-warning">{{ sessao.nome }}</span>{% else %}{{ sessao.nome }}{% endif %} - <a href="/logout">deslogar</a></p>
        {% else %}
          <a href="{{ url_for('login') }}" class="btn btn-outline-secondary" id="btnLogin">Administrativo</a>
        {% endif %}
      </header>

      <!-- Formulário de Pesquisa -->
      <div class="card p-4 mb-5">
        <h2 class="fs-5 mb-4">Pesquisar Itens</h2>
        <form>
          <div class="row g-3">
            <div class="col-md-3">
              <label class="form-label">Data Encontrado</label>
              <input type="date" class="form-control" id="busca_data_encontrado" name="data_encontrado"/>
            </div>
            <div class="col-md-3">
              <label class="form-label">Categoria</label>
              <select class="form-select" id="busca_categoria" name="categoria">
                <option value="">Selecione uma categoria</option>
                {% for cat in categorias %}
                  <option>{{ cat }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-3">
              <label class="form-label">Identificação</label>
              <input type="text" class="form-control" id="busca_identificacao" name="identificacao"/>
            </div>
            <div class="col-md-3">
              <label class="form-label">Local Encontrado</label>
              <input type="text" class="form-control" id="busca_local_encontrado" name="local_encontrado" />
            </div>
          </div>
          <div class="row g-3 mt-3">
            <div class="col-md-3">
              <button type="button" class="btn btn-primary w-100" id="btnPesquisar" onclick="pesquisar(objetosJSON, categoriasJSON)">Pesquisar</button>
            </div>
            <div class="col-md-3">
              <button type="reset" class="btn btn-outline-secondary w-100" id="btnLimpar" >Limpar</button>
            </div>
          </div>
        </form>
      </div>

      <!-- Tabela de Resultados -->
      <div class="table-responsive">
        <table id="tabela-objetos" class="table table-striped table-hover rounded">
          <thead class="table-dark">
            <tr>
              <th>Data Encontrado</th>
              <th>Categoria</th>
              <th>Identificação</th>
              <th>Local Encontrado</th>
            </tr>
          </thead>
          <tbody>
            {% for objeto in objetos_perdidos %}
              <tr>
                <td>{{ objeto.data_encontrado|format_datetime }}</td>
                <td>{{ objeto.categoria }}</td>
                <td>{{ objeto.identificacao }}</td>
                <td>{{ objeto.local_encontrado }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
