<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achados e Perdidos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        background-color: #f8f9fa;
      }
      .card {
        border-radius: 1rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      }
      .list-group-item a {
        text-decoration: none;
        color: #0d6efd;
      }
      .list-group-item a:hover {
        text-decoration: underline;
      }
    </style>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const statusSelect = document.querySelector("#statusSelect");
        const resolucaoContainer = document.querySelector("#resolucaoContainer");

        updateResolucaoVisibility();

        statusSelect.addEventListener('change', updateResolucaoVisibility);

        function updateResolucaoVisibility() {
          const selectedStatus = statusSelect.value;
          if (selectedStatus == 'doado' || selectedStatus == 'entregue') {
            resolucaoContainer.style.display = 'block';
          } else {
            resolucaoContainer.style.display = 'none';
          }
        }
      });
    </script>
  </head>
  <body>
    <div class="container py-4">
      <header class="mb-4 pb-3 border-bottom d-flex justify-content-between align-items-center">
        <h1 class="fs-3 text-primary">Achados e Perdidos - Objetos</h1>
        <p>{% if sessao.administrador %}<span class="text-warning">Admin</span> {% endif %}{{ sessao.nome }} - <a href="/logout">deslogar</a></p>
      </header>

      <div class="row g-5">
        <!-- Menu Lateral -->
        <div class="col-md-3">
          <div class="list-group">
            <a href="/admin/funcionario" class="list-group-item list-group-item-action">Gerenciar Funcionários</a>
            <a href="/admin/categoria" class="list-group-item list-group-item-action">Gerenciar Categorias</a>
            <a href="/admin/objeto" class="list-group-item list-group-item-action">Gerenciar Objetos</a>
          </div>
        </div>
    
        <!-- Coluna do formulário -->
        <div class="col-md-9">
          <h3 class="mb-4">Editar Objeto</h3>
          <div class="card p-4">
            <!-- Formulário de edição de objeto -->
            <form action="/admin/objeto/edit/{{ objeto._id }}/form" method="post">
              <!-- Seção Descrição -->
              <h5 class="mb-3">Descrição</h5>
              <div class="mb-3">
                <label for="descricao" class="form-label"><strong>Descrição do Objeto</strong></label>
                <textarea class="form-control" id="descricao" rows="3" name="descricao">{{ objeto.descricao | trim }}</textarea>
              </div>

              <!-- Seção Imagem -->
              <div class="mb-3">
                <label for="imagem" class="form-label"><strong>Upload de Imagem</strong></label>
                <input type="file" class="form-control" id="imagem">
              </div>

              <!-- Seção Identificação -->
              <div class="mb-3">
                <label for="identificacao" class="form-label"><strong>Identificação</strong></label>
                <input type="text" class="form-control" id="identificacao" name="identificacao" placeholder="Ex: Cartão com nome “Luiza Souza”">
              </div>

              <!-- Seção dados de encontro -->
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="dataEncontrado" class="form-label"><strong>Data Encontrado<span class="text-danger">*</span></strong></label>
                  <input type="date" class="form-control" id="dataEncontrado" name="data_encontrado" value="{{ objeto.data_encontrado }}">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="localEncontrado" class="form-label"><strong>Local Encontrado<span class="text-danger">*</span></strong></label>
                  <input type="text" class="form-control" id="localEncontrado" name="local_encontrado" value="{{ objeto.local_encontrado }}">
                </div>
              </div>

              <!-- Seção Categoria -->
              <h5 class="mb-3 mt-4">Categoria</h5>
              <div class="mb-3">
                <select class="form-select" id="categoria" disabled>
                  <option value="{{ objeto.categoria.nome }}" selected>{{ objeto.categoria.nome }}</option>
                </select>
              </div>

              <!-- Seção Campos -->
              <div id="campos">
                <div class="row">
                  {% for campo, valor in objeto.campos_valores.items() %}
                  <div class="col-md-4 mb-3">
                    <label for="{{ campo }}" class="form-label"><strong>{{ campo }}</strong></label>
                    <input type="text" class="form-control" id="campo[{{ valor }}]" name="campos_valores[{{ campo }}]" value="{{ valor }}">
                  </div>
                  {% endfor %}
                </div>
              </div>

              <!-- Seção Status -->
              <div class="mb-3">
                <label for="status" class="form-label"><strong>Status<span class="text-danger">*</span></strong></label>
                <select class="form-select" id="statusSelect" name="status">
                  <option value="">Selecione o status</option>
                  <option value="perdido" {% if objeto.status == 'perdido' %}selected{% endif %}>Perdido</option>
                  <option value="doado" {% if objeto.status == 'doado' %}selected{% endif %}>Doado</option>
                  <option value="entregue" {% if objeto.status == 'entregue' %}selected{% endif %}>Entregue</option>
                </select>
              </div>

              <div id="resolucaoContainer">
                <hr />
                <!-- Seção Resolução -->
                <h5 class="mb-3 mt-2">Resolução</h5>
                <div class="mb-4">
                  <label for="resolucao" class="form-label"><strong>Descrição da Resolução</strong></label>
                  <textarea class="form-control" id="resolucao" rows="2" placeholder="Ex: Objeto entregue ao proprietário mediante apresentação de documento." name="resolucao">{{ objeto.resolucao | trim }}</textarea>
                </div>

                <!-- Seção Destinatário -->
                <h5 class="mb-3">Destinatário</h5>
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="destNome" class="form-label"><strong>Nome<span class="text-danger">*</span></strong></label>
                    <input type="text" class="form-control" id="destNome" name="destinatario_nome" placeholder="Nome completo" value="{{ objeto.destinatario_nome }}">
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="destDocumento" class="form-label"><strong>Documento<span class="text-danger">*</span></strong></label>
                    <input type="text" class="form-control" id="destDocumento" name="destinatario_documento" placeholder="CPF, RG..." value="{{ objeto.destinatario_documento }}">
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="destContato" class="form-label"><strong>Contato<span class="text-danger">*</span></strong></label>
                    <input type="text" class="form-control" id="destContato" name="destinatario_contato" placeholder="Telefone ou e-mail" value="{{ objeto.destinatario_contato }}">
                  </div>
                </div>
              </div>

              <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
