{% set estados = ["perdido", "doado", "entregue"] %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achados e Perdidos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <style>
body {
    background-color: #f8f9fa;
}
.card {
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.list-group-item a {
    text-decoration: none;
    color: #0d6efd;
}
.list-group-item a:hover {
    text-decoration: underline;
}
    </style>
</head>

<body>
    <div class="container py-4">
        <header class="mb-4 pb-3 border-bottom d-flex justify-content-between align-items-center">
            <h1 class="fs-3 text-primary">Achados e Perdidos - Objetos</h1>
            <p>{% if sessao.administrador %}<span class="text-warning">{{ sessao.nome }}</span>{% else %}{{ sessao.nome }}{% endif %} - <a href="/logout">deslogar</a></p>
        </header>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="flashes">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class="row g-5">
            <!-- Menu Lateral -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="/admin/funcionario" class="list-group-item list-group-item-action">Gerenciar Funcionários</a>
                    <a href="/admin/categoria" class="list-group-item list-group-item-action">Gerenciar Categorias</a>
                    <a href="/admin/objeto" class="list-group-item list-group-item-action">Gerenciar Objetos</a>
                </div>
            </div>

            <!-- Coluna do formulário -->
            <div class="col-md-9">
                <h3 class="mb-3">Editar Objeto</h3>
                <div class="card p-4">
                    <p class="text-danger fw-bold">Campos marcados por * são obrigatorios!</p>
                    <!-- Formulário de edição de objeto -->
                    <form action="/admin/objeto/edit/{{ objeto._id }}/form" method="post" enctype="multipart/form-data">
                        <!-- Seção Descrição -->
                        <h5 class="mb-3">Descrição</h5>
                        <div class="mb-3">
                            <label for="descricao" class="form-label">Descrição do Objeto<span class="text-danger">*</span></label>
                            <textarea class="form-control" id="descricao" rows="3" name="descricao" required>{{ objeto.descricao | trim }}</textarea>
                        </div>

                        <!-- Seção Imagem -->
                        <div class="mb-3">
                            <label for="imagem" class="form-label">Upload de Imagem</label>
                            <input type="file" class="form-control" id="imagem" name="imagem">
                        </div>

                        {% if objeto.imagem %}
                        <div class="mb-3">
                            <div class="form-check">
                                <label class="form-check-label" for="removerImagem">Remover imagem</label>
                                <input class="form-check-input" type="checkbox" name="removerImagem">
                            </div>
                            <img src="{{ url_for('static', filename=objeto.imagem) }}" class="img-thumbnail">
                        </div>
                        {% endif %}

                        <!-- Seção Identificação -->
                        <div class="mb-3">
                            <label for="identificacao" class="form-label">Identificação</label>
                            <input type="text" class="form-control" id="identificacao" name="identificacao" placeholder="Ex: Cartão com nome “Luiza Souza”" value="{{ objeto.identificacao }}">
                        </div>

                        <!-- Seção dados de encontro -->
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="dataEncontrado" class="form-label">Data Encontrado<span class="text-danger">*</span></label>
                                <input type="date" class="form-control" id="dataEncontrado" name="data_encontrado" max={{ hoje }} value="{{ objeto.data_encontrado }}">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="localEncontrado" class="form-label">Local Encontrado<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="localEncontrado" name="local_encontrado" value="{{ objeto.local_encontrado }}">
                            </div>
                        </div>

                        <!-- Seção Categoria -->
                        <h5 class="mb-3 mt-4">Categoria<span class="text-danger">*</span></h5>
                        <input type="hidden" value="{{ objeto.categoria._id }}"  id="categoria" name="categoria">
                        <div class="mb-3 ">
                            <p class="border border-secundary-subtle rounded p-2">{{ objeto.categoria.nome }}</p>
                        </div>

                        <!-- Seção Campos -->
                        <div id="campos">
                            {% for row in objeto.campos.items()|batch(3) %}
                            <div class="row">
                                {% for campo, valor in row %}
                                <div class="col-md-4 mb-3">
                                    <label for="{{ campo }}" class="form-label">{{ campo }}</label>
                                    <input type="text" class="form-control" id="campos[{{ campo }}]" name="campo[{{ campo }}]" value="{{ valor }}">
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Seção Status -->
                        <div class="mb-3">
                            <label for="status" class="form-label">Status<span class="text-danger">*</span></label>
                            <select class="form-select" id="statusSelect" name="status" required>
                                <option value="" disabled>Selecione o status</option>
                                {% for estado in estados %}
                                <option value="{{ estado }}" {% if objeto.status == estado %}selected{% endif %}>{{ estado.capitalize() }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div id="resolucaoContainer">
                            <hr />
                            <!-- Seção Resolução -->
                            <h5 class="mb-3 mt-2">Resolução</h5>
                            <div class="mb-4">
                                <label for="resolucao" class="form-label">Descrição da Resolução<span class="text-danger">*</span></label>
                                <textarea class="form-control" id="resolucao" rows="2" placeholder="Ex: Objeto entregue ao proprietário mediante apresentação de documento." name="resolucao">{{ objeto.resolucao }}</textarea>
                            </div>

                            <!-- Seção Destinatário -->
                            {% set destinatario = objeto.get('destinatario', {}) %}
                            <h5 class="mb-3">Destinatário</h5>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="destNome" class="form-label">Nome<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="destNome" name="destinatario_nome" placeholder="Nome completo" value="{{ destinatario.get('nome', '') }}">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="destDocumento" class="form-label">Documento<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="destDocumento" name="destinatario_documento" placeholder="CPF, RG..." value="{{ destinatario.get('documento', '') }}">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="destContato" class="form-label">Contato<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="destContato" name="destinatario_contato" placeholder="Telefone ou e-mail" value="{{ destinatario.get('contato', '') }}">
                                </div>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
